# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\1589347861_sportyshoes (1)\SportyShoes\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
